header{
    position: relative;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    max-width: 1736px;
    width: 100%;
    margin: 0 auto;
    @include d-flex(center, space-between);
    padding: 42px 0 40px;
    font-size: 14px;
    &-logo{
        min-width: 100px
    }
}

.menu{
    @include d-flex();
    ul{
        @include d-flex(center, inherit);
        li{
            font: 600 1rem/1.25 $f-main;
            letter-spacing: 0.01em;
            margin: 0 12px;
            border-bottom: 2px solid transparent;
            transition: all 1s ease-in;
            &:hover{
                a{
                    color: $c-main-button;
                }
                cursor: pointer;
                border-color: $c-main-button;
            }
        }
    }
    @media screen and (max-width: 991px){
        display: none;
    }
}

.mobile-menu{
    display: none;
    span{
        display: block;
        height: 2px;
        background: #21395F;
        width: 28px;
        margin-bottom: 5px;
    }
    @media screen and (max-width: 991px){
        display: block;
    }
}