// BANNER SECTION

#home{
    height: 100vh;
    background-image: url('./../images/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    .container{
      height: 100%
    }
    @media screen and (max-width: 767px){
      height: auto;
    }
  }

  .main-banner{
    @include d-flex();
    height: 100%;
    padding-top: 100px;
    
    &__text{
      max-width: 600px;
      width: 50%;
      position: relative;
    }
  
    &__image{
      width: 50%;
      position: relative;
      &.mobile{
        display: none;
      }
    }
    &__title{
      margin-bottom: 40px;
    }
    &__subtitle{
      margin-bottom: 40px;
      font: 500 1.5625rem/1.2 $f-main;
      color: $c-secondary;
    }
    &__content{
      font: 400 2rem/1.266 $f-main;
      width: 100%;
      margin-bottom: 33px;
      color: $c-text;
    }
    &__btn{
      @include d-flex();
      flex-wrap: wrap;
      width: 100%;
      .btn{
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 1400px){

        justify-content: center;
        &__image{
            
        }
        &__text{
            max-width: calc(100% - 100px);
            width: 100%;
        }
      }
    @media screen and (max-width: 767px){
      flex-direction: column;
      padding-top: 60px;
      &__title{
        margin-bottom: 10px;
      }
      &__text{
        max-width: 100%;
        width: 100%;
      }
      &__image{
         &.mobile{
           display: block;
           margin: 30px auto;
         }   
         &.desktop{
           display: none;
         }
      }
      &__btn{
        flex-direction: column;
      }
      &__subtitle{
        font-size: 0.9375rem;
        line-height: 1.2;
      }
      &__content{
        font-size: 0.9375rem;
        line-height: 1.2;
      }
    }
  }
  
  // marquee SECTION
  
  .marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #5A4039;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 10px 0;
    span {
      display: inline-block;
      text-transform: uppercase;
      padding-left: 100%;
      color: rgba(255, 245, 0, 0.6);
      -webkit-animation: scroll 5s infinite linear;
      -moz-animation: scroll 5s infinite linear;
      animation: scroll 5s infinite linear;
    }
  }
  
// INFORMATION SECTION

.information{
  &-wrapper{
    max-width: 950px;
    margin: 0 auto;
  }
  &-chips{
    @include d-flex();
    .chip{
      mix-blend-mode: normal;
      opacity: .15;
      border-radius: 50px;
      margin: 0 5px;
    }
  }
  &-content{
    @include d-flex(center, center);
    min-height: 950px;
    position: relative;
    .title {
      font: 600 2rem/1.14 $f-main;
      text-align: center;
      max-width: 550px;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    .btn{
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    img{
      &.bg-image{
        @include position(absolute, 0,0,0,0);
        z-index: -1;
      }
      &.main-image{
        position: absolute;
        width: 190px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
      &.planet-image{
        position: absolute;
        width: 350px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
    .icon{
      @include border-radius(100px);
      @include d-flex (center, center);
      position: absolute;
      width: 108px;
      height: 108px; 
      z-index: 2;
      &-wrap{
        @include border-radius(100px);
        @include d-flex (center, center);
        width: 50px;
        height: 50px; 
      }
      &-1{
        background: rgba(225, 29, 46, .2);
        left: 0;
        bottom: 32%;
        .icon-wrap{
          background: #E11D2E;
        }
      }
      &-2{
        background: rgba(0, 150, 242, .2);
        right: 0%;
        top: 21%;
        .icon-wrap{
          background: #0096F2;
        }
      }
      &-3{
        background: rgba(255, 148, 41, .2);
        right: 10%;
        bottom: 20%;
        .icon-wrap{
          background: #FF9429;
        }
      }
    }
  }
  @media screen and (max-width: 767px){
    &-chips{
      flex-wrap: wrap;
      .chip{
        width: 30%;
        margin-bottom: 16px;
      }
    }
    &-content{
      min-height: 650px;
      .title{
        max-width: calc(100% - 40px);
        width: 100%;
        top: 23%;
      }
      .btn{
        width: 100%;
        max-width: 260px;
        top: inherit;
        bottom: -30px;
      }
      .icon{
        &-1,
        &-2,
        &-3{
          background: transparent;
        }
        &-1{      
          bottom: 47%;
        }
        &-2{
          right: 3%;
          top: 34%;
        }
        &-3{
          right: 12%;
          bottom: 17%;
        }
      }
      img{
        &.bg-image{
          top: inherit;
        }
        &.planet-image {
          width: 140px;
          transform: translate(-50%, 0%);
        }
        &.main-image{
          width: 70px;
          transform: translate(-50%, 50%);
        }
      }
    }
  }
}